body {
  margin: 0 !important;
  /*background: #fff !important;*/
}


body, input, select, textarea, #divBanner, #divCurrent .clsManageTarget a, #divToolbar, #divContent #divFooter, .clsManageLinkIcon, .clsGridContainer table{
  /*font-size: 14px !important;*/
  font-family: Arial, sans-serif !important;
  color: #333 !important;
}

.clsButton {
  color: #fff !important;
}


#divToolbar {
  background: no-repeat, linear-gradient(to bottom, #436f9f 0,#436f9f 2px,#436f9f 2px,#144b87 16px) !important;
  margin-left: -10px;
  margin-right: -10px;
}


body:not(.staticToolbar) #divToolbar {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  min-width: 960px !important;
  z-index: 4000;
  box-shadow: 0 0 8px 4px rgba(0,0,0,0.1);

  margin-left: 0;
  margin-right: 0;
}
#divToolbarToggle {
  display: block;
  height: 30px;
  width: 11px;
  position: absolute;
  z-index: 2001;
  top: 0;
  left: 0;
  background: url(/dashboard/WebResource.axd?d=LktZP72ePibKu0sw9K940XfUYiXXd-q2-fXE7gKZTSyfrJY0cF387vMKeiUG35mXNjJ0v4wqKTKBsPQuDAkafAbCtj8cdMKIltzVx8yEP0S4G2azrlZzE2cEZ6V7_1g_lMxYoAUhnMxCruSHjSG458ky_2oNJYnDxw6MHxMQUME1&t=635411936073481261);
  cursor: pointer;
}
#divHeader {
  border-bottom: 1px solid transparent;
}

body:not(.staticToolbar) #divHeader {
  height: 85px !important;
  margin-top: 30px;
  border-bottom-color: #DEDEDE;
}


#divContainer {
  width: auto !important;
  padding-left: 10px !important;
  padding-right: 10px !important;/*
  margin-right: 174px !important;*/
  min-width: 960px !important;
}

@media (max-width: 1200px) {
  #divContainer {
    width: auto !important;
    margin-left: 0 !important;
  }
}


#divHeader, #divBanner {
  width: auto !important;
  position: static !important;
}

#divLogo {
  left: 10px !important;
}

#divBanner .clsSearch {
  left: auto !important;
  right: 10px !important;
}

#divToolbar {
  width: auto !important;
  /*background-image: none !important;*/
}

#divNavigation {
  width: auto !important;
}

#divLogout {
  left: auto !important;
  right: 0 !important;
}

#divContent {
  position: static !important;
  width: auto !important;
  margin-top: 15px !important;
}

#divContent #divHeading, #divContent #_ctl0_plcContentPlaceHolder_divHeading {
  position: static !important;
  width: auto !important;
}

#divHeadingInformation {
  width: auto !important;
  float:left !important;
}

.clsQuickTask {
  position: static !important;
  float: right !important;
}

.clsContainer, .clsGridContainer {
  width: auto !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.clsTasks.clsDaily > table {
  width: 100% !important;
}

.clsTasks.clsDaily > table > tbody > tr > td {
  width: auto !important;
}

.clsWeeklyTaskTimes > div {
  float: right !important;
}

#ctl00_plcContentPlaceHolder_grdSelectDaily {
  width: 100% !important;
  table-layout: fixed !important;
}

#ctl00_plcContentPlaceHolder_grdSelectDaily th:nth-child(2) {
  width: auto !important;
}
#ctl00_plcContentPlaceHolder_grdSelectDaily th:nth-child(3) {
  width: auto !important;
}
#ctl00_plcContentPlaceHolder_grdSelectDaily th:nth-last-child(3) {
  width: 60px !important;
}
#ctl00_plcContentPlaceHolder_grdSelectDaily th:nth-last-child(2) {
  width: 60px !important;
}

#ctl00_plcContentPlaceHolder_pnlSelectDailyTotals table {
  width: 100% !important;
  table-layout: fixed !important;
}

#ctl00_plcContentPlaceHolder_pnlSelectDailyTotals td {
  vertical-align: top;
}

#ctl00_plcContentPlaceHolder_pnlSelectDailyTotals td:nth-child(2) {
  width: auto !important;
}

.clsOverflow {
  width: auto !important;
  margin-right: 4px !important;
}

#ctl00_plcContentPlaceHolder_pnlSelectDailyTotals > table {
  width: 100% !important;
}

.clsGridContainer .clsMiddle {
  width: auto !important;
}

.clsGridContainer .clsMiddle > table {
  width: 100% !important;
  table-layout: fixed !important;
  left: auto !important;
}

#ctl00_plcContentPlaceHolder_grdSelectAssigned th {
  width: auto !important;
}
#ctl00_plcContentPlaceHolder_grdSelectAssigned th:nth-child(1),
#ctl00_plcContentPlaceHolder_grdSelectAssigned td:nth-child(1) {
  width: 20px !important;
  padding-left: 15px !important;
}
#ctl00_plcContentPlaceHolder_grdSelectAssigned th:nth-child(2),
#ctl00_plcContentPlaceHolder_grdSelectAssigned td:nth-child(2) {
  width: 90px !important;
}
#ctl00_plcContentPlaceHolder_grdSelectAssigned th:nth-child(3),
#ctl00_plcContentPlaceHolder_grdSelectAssigned td:nth-child(3) {
  width: 90px !important;
}

#ctl00_plcContentPlaceHolder_grdSelectAssigned td:nth-child(5) .clsOverflow a {
  font-size: 16px;
  color: #333;
  text-decoration: none;
}
#ctl00_plcContentPlaceHolder_grdSelectAssigned th:nth-child(6),
#ctl00_plcContentPlaceHolder_grdSelectAssigned td:nth-child(6) {
  width: 60px !important;
}
#ctl00_plcContentPlaceHolder_grdSelectAssigned th:nth-last-child(7),
#ctl00_plcContentPlaceHolder_grdSelectAssigned td:nth-last-child(7) {
  width: 60px !important;
  display: none;
}
#ctl00_plcContentPlaceHolder_grdSelectAssigned th:nth-last-child(6),
#ctl00_plcContentPlaceHolder_grdSelectAssigned td:nth-last-child(6) {
  width: 30px !important;
}
#ctl00_plcContentPlaceHolder_grdSelectAssigned th:nth-last-child(5),
#ctl00_plcContentPlaceHolder_grdSelectAssigned td:nth-last-child(5) {
  width: 60px !important;
}
#ctl00_plcContentPlaceHolder_grdSelectAssigned th:nth-last-child(4),
#ctl00_plcContentPlaceHolder_grdSelectAssigned td:nth-last-child(4) {
  width: 60px !important;
}
#ctl00_plcContentPlaceHolder_grdSelectAssigned th:nth-last-child(3),
#ctl00_plcContentPlaceHolder_grdSelectAssigned td:nth-last-child(3) {
  width: 60px !important;
}
#ctl00_plcContentPlaceHolder_grdSelectAssigned th:nth-last-child(2),
#ctl00_plcContentPlaceHolder_grdSelectAssigned td:nth-last-child(2) {
  width: 60px !important;
}
#ctl00_plcContentPlaceHolder_grdSelectAssigned th:nth-last-child(1),
#ctl00_plcContentPlaceHolder_grdSelectAssigned td:nth-last-child(1) {
  width: 60px !important;
  padding-right: 15px !important;
}

#ctl00_plcContentPlaceHolder_grdSelectAdministrative  th {
  width: auto !important;
}
#ctl00_plcContentPlaceHolder_grdSelectAdministrative th:nth-child(1),
#ctl00_plcContentPlaceHolder_grdSelectAdministrative td:nth-child(1) {
  padding-left: 15px !important;
  width: 25% !important;
}
#ctl00_plcContentPlaceHolder_grdSelectAdministrative th:nth-child(3),
#ctl00_plcContentPlaceHolder_grdSelectAdministrative td:nth-child(3) {
  width: 60px !important;
  padding-right: 15px !important;
}

select {
  height: auto !important;
}

input[type='text'], input[type='password'] {
  height: 18px !important;
  padding: 2px !important;
}

#divAssignedTasksPageSize select {
  width: 100px !important;
}


/* view time entries dialog */

#ctl00_plcContentPlaceHolder_radWindowViewTaskTimesDialog_C_ctrlViewTaskTimesControl_grdSelect th {
  width: auto !important;
}

#ctl00_plcContentPlaceHolder_radWindowViewTaskTimesDialog_C_ctrlViewTaskTimesControl_grdSelect th:nth-child(1),
#ctl00_plcContentPlaceHolder_radWindowViewTaskTimesDialog_C_ctrlViewTaskTimesControl_grdSelect td:nth-child(1) {
  padding-left: 15px !important;
  width:80px !important;
}

#ctl00_plcContentPlaceHolder_radWindowViewTaskTimesDialog_C_ctrlViewTaskTimesControl_grdSelect th:nth-child(3) {
  width: 30px !important;
}

#ctl00_plcContentPlaceHolder_radWindowViewTaskTimesDialog_C_ctrlViewTaskTimesControl_grdSelect th:nth-child(6) {
  width: 60px !important;
}

#ctl00_plcContentPlaceHolder_radWindowViewTaskTimesDialog_C_ctrlViewTaskTimesControl_grdSelect th:nth-child(7),
#ctl00_plcContentPlaceHolder_radWindowViewTaskTimesDialog_C_ctrlViewTaskTimesControl_grdSelect td:nth-child(7) {
  padding-right: 15px;
  width: 60px !important;
}

/* tasks.aspx */

#ctl00_plcContentPlaceHolder_grdSelect th {
  width: auto !important;
}

#ctl00_plcContentPlaceHolder_grdSelect th:nth-child(1),
#ctl00_plcContentPlaceHolder_grdSelect td:nth-child(1) {
  padding-left: 15px !important;
  width:80px !important;
}
#ctl00_plcContentPlaceHolder_grdSelect th:nth-child(2) {
  width:80px !important;
}
#ctl00_plcContentPlaceHolder_grdSelect th:nth-child(5) {
  width:70px !important;
}
#ctl00_plcContentPlaceHolder_grdSelect th:nth-child(6) {
  width:70px !important;
}
#ctl00_plcContentPlaceHolder_grdSelect th:nth-child(7) {
  width:30px !important;
}
#ctl00_plcContentPlaceHolder_grdSelect th:nth-child(8) {
  width:50px !important;
}
#ctl00_plcContentPlaceHolder_grdSelect th:nth-child(9) {
  width:50px !important;
}
#ctl00_plcContentPlaceHolder_grdSelect th:nth-child(10) {
  width:60px !important;
}
#ctl00_plcContentPlaceHolder_grdSelect th:nth-child(11) {
  width:60px !important;
}
#ctl00_plcContentPlaceHolder_grdSelect th:nth-child(12),
#ctl00_plcContentPlaceHolder_grdSelect td:nth-child(12) {
  padding-right: 15px !important;
  width:60px !important;
}

#ctl00_plcContentPlaceHolder_grdSelect tr.clsPager > td {
  display:block;
  width: auto !important;
  padding-left: 0 !important;
  padding-top: 10px;
}



/*task action popup */

/*.clsNestedListMenu.clsTask li ul {
  left: auto !important;
  right: -5px !important;
  width: 420px !important;
  top: -2px;
  border:none !important;
  background-image: none !important;
  background-color: transparent !important;

}

.clsNestedListMenu.clsTask li:hover ul {
  display: none !important;
}

.clsNestedListMenu.clsTask li ul.active {
  display: block !important;
}

.clsNestedListMenu.clsTask li ul li {
  width: auto !important;
  float:right;
  white-space: nowrap;
  border: 1px solid #144b87;
  border-left: none;
  background: #92a5cd;
}
.clsNestedListMenu.clsTask li ul li:hover {
  background: #fff;
}
.clsNestedListMenu.clsTask li ul li:first-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
} 
.clsNestedListMenu.clsTask li ul li:last-child {
  border-left: 1px solid #144b87;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.clsNestedListMenu.clsTask li ul li a{
  width: auto !important;
  padding: 0 5px !important;
  background-color: transparent !important;
}

.clsNestedListMenu.clsTask li ul li a:hover {
  background-image: none !important;
}*/


/* Default.aspx */
#divDashboard {
  width: auto !important
}
.clsIntroduction {
  width: auto !important;
}




/* task.aspx */

#ctl00_plcContentPlaceHolder_pnlProperties p + .clsContainer{
/*    position: relative;
    height: 662px;*/
}
#ctl00_plcContentPlaceHolder_pnlProperties > .clsContainer > table.clsStandard  {
   table-layout: fixed;
   width: 100% !important;
}
#ctl00_plcContentPlaceHolder_pnlProperties > .clsContainer > table.clsStandard > tbody > tr:first-child > td:nth-child(1) {
  width: 110px !important;
}
#ctl00_plcContentPlaceHolder_pnlProperties > .clsContainer > table.clsStandard > tbody > tr:first-child > td:nth-child(2) {
  width: 190px !important;
}
#ctl00_plcContentPlaceHolder_pnlProperties > .clsContainer > table.clsStandard > tbody > tr:first-child > td:nth-child(3) {
  width: 90px !important;
}
#ctl00_plcContentPlaceHolder_pnlProperties > .clsContainer > table.clsStandard > tbody > tr:first-child > td:nth-child(4) {
  width: 200px !important;
}
#ctl00_plcContentPlaceHolder_pnlProperties > .clsContainer > table.clsStandard > tbody > tr:first-child > td:nth-child(5) {
  width: 90px !important;
}
#ctl00_plcContentPlaceHolder_pnlProperties > .clsContainer > table.clsStandard > tbody > tr:first-child > td:nth-child(6) {
  width: auto !important;
}

#ctl00_plcContentPlaceHolder_radEditorDescription {
  width: 100% !important;
}

#ctl00_plcContentPlaceHolder_ctl00_plcContentPlaceHolder_radEditorDescriptionPanel > div {
  resize: vertical !important;
  overflow: auto !important;
  padding-bottom: 10px;
  padding-right: 2px;
}

#ctl00_plcContentPlaceHolder_radEditorDescriptionWrapper {
  height: 100% !important
}

#ctl00_plcContentPlaceHolder_radEditorDescription_contentIframe {
  resize: none !important;
  height: 100% !important;
}

#description-display {
  border: 1px solid #ccc;
  padding: 20px !important;
  margin-top: 5px;
  resize: none !important;
  box-shadow: 0 4px 8px #eee;

  font-family: Arial;
  font-size: 16px;
  color: #000;
  height: 300px;
}

.clsAjaxLoadingPanelTaskList {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  width: auto !important;
}

.clsLoading {
  margin: auto !important;
  left: 0 !important;
  right: 0 !important;
}


#ctl00_plcContentPlaceHolder_pnlTaskNotes {
  font-size: 14px;
}

#ctl00_plcContentPlaceHolder_dltTaskNotes {
  display: block !important;
  width: 100% !important;
}

#ctl00_plcContentPlaceHolder_dltTaskNotes .clsHeader {
  display: none;
}

#ctl00_plcContentPlaceHolder_dltTaskNotes span[class^=clsRow] {
  margin-bottom: 10px;
  border: none !important;
  background-color: transparent !important;
}

#ctl00_plcContentPlaceHolder_dltTaskNotes table.clsStandard {
  width: 100% !important;
  display: block;
}

#ctl00_plcContentPlaceHolder_dltTaskNotes table.clsStandard * {
  max-width: 100%;
  display: block;
}

#ctl00_plcContentPlaceHolder_dltTaskNotes table.clsStandard td {
  display: block;
  height: 22px;
  width: auto !important;
}
#ctl00_plcContentPlaceHolder_dltTaskNotes table.clsStandard tr {
    background: none important;
}

#ctl00_plcContentPlaceHolder_dltTaskNotes table.clsStandard tr:nth-child(1) > td:nth-child(1){
  float:left;
  height: 22px;
  margin-right: 5px;
}
#ctl00_plcContentPlaceHolder_dltTaskNotes table.clsStandard tr:nth-child(1) > td:nth-child(2){
  float:left;
  height: 22px;
  font-weight: bold;
  margin-right: 5px;
}
#ctl00_plcContentPlaceHolder_dltTaskNotes table.clsStandard tr:nth-child(1) > td:nth-child(3){
  float:left;
  height: 22px;
}
#ctl00_plcContentPlaceHolder_dltTaskNotes table.clsStandard tr:nth-child(1) > td:nth-child(4){
  display: block;
  clear:left;
}
#ctl00_plcContentPlaceHolder_dltTaskNotes table.clsStandard tr:nth-child(2) > td:nth-child(1) {
  display: none;
}
#ctl00_plcContentPlaceHolder_dltTaskNotes table.clsStandard tr:nth-child(2) > td:nth-child(2) {
  border: 1px solid #ccc;
  padding: 20px !important;
  resize: none !important;
  box-shadow: 0 4px 8px #eee;

  font-family: Arial;
  font-size: 16px;
  color: #000;
  height: auto;
  line-height: 1.4em;

  max-width: 100%;
}

#ctl00_plcContentPlaceHolder_dltTaskNotes table.clsStandard tr:nth-child(2) > td:nth-child(2) pre {
  margin: 0;
  font-family: inherit;
}